  .sidepanel {
    height: 548px; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: absolute; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    margin-left: 13px;
    background-color: #fffff2; /* Black*/
    overflow-x: hidden; /*Disable horizontal scroll*/
    /* overflow-y: scroll; */
    padding-top: 60px; /* Place content 60px from the top */
    margin-top: 1px;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .category{
    overflow-y: auto;
    height: 350px;
  }
  
  /* The sidepanel links */
  .closebbtn a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .closebbtn a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style the button that is used to open the sidepanel */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #ffffff00;
    color: rgb(84, 84, 84);
    padding: 10px 15px;
    border: none;
    border-top-left-radius: 10px;
  }
  
  .openbtn:hover {
    color: #ffffff;
    transition: 0.3s;
  }

  body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }
  
  html {
    height: -webkit-fill-available;
  }
  
  main {
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  .dropdown-toggle { outline: 0; }
  
  .btn-toggle {
    padding: .25rem .5rem;
    font-weight: 600;
    color: var(--bs-emphasis-color);
    background-color: transparent;
  }
  .btn-toggle:hover {
    color: rgba(var(--bs-emphasis-color-rgb), .85);
    background-color: var(--bs-tertiary-bg);
  }
  
  .btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
  }

  .scrap .btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
  }
  
  [data-bs-theme="dark"] .btn-toggle::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  }
  
  .btn-toggle[aria-expanded="true"] {
    color: rgba(var(--bs-emphasis-color-rgb), .85);
  }
  .btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
  }
  
  .btn-toggle-nav a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
  }
  .btn-toggle-nav a:hover {
    background-color: var(--bs-tertiary-bg);
  }
  
  .scrollarea {
    overflow-y: auto;
  }
  
  /* .btn-toggle-nav input {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.75rem;
  } */
  
  .btn-toggle-nav button:hover{
    color: rgba(var(--bs-emphasis-color-rgb), .85);
    background-color: var(--bs-tertiary-bg);
  }

/* ------------------------------------------------------------------------ */
/* contents_main.css */

#content{
  margin-top: 15px;
  height: 550px;
  width: 95%;
  position : relative;
  /* border: 1px solid #818181; */
}


.main{
  height: 100%;
}


.summary{
  position: absolute;
  height: 550px;
  width: calc(100% - 24px);
  border: 1px solid black ;
  border-radius: 10px;
  background-color: #d4d4d4;
  align-content: center;
}

.summary ul{
  overflow-y: auto;
  overflow-x: hidden;
  padding:0 5%;
  height: 450px;
}

.summary ul li{
  margin-top: 15px;
  /* border-bottom: 1px solid gray; */
  font-size: 14px;
}



#edit {
padding: 0px;
height: auto;
}


.scrap #test{
size: 30%;
}