{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<style>
    b{
        font-size: x-large;
    }
    #icon{
        /* margin: 0 auto; */
        margin-top: 20px;
        width: 256px;
        height: 277px;
    }
    #icon p{
        float: right;
        font-size: x-small;

    }
    #title, #vision, #staff{
        margin-bottom: 50px;
    }
    #title p+p{
        /* margin-left: 30px; */
        color: #4f4f4f;
    }
    #vision p+p{
        /* margin-left: 30px */
        color: #4f4f4f;
    }
    #staff p+p+p{
        /* margin-left: 30px; */
        color: #4f4f4f;
    }
    #wrap{
        /* text-align: center; */
    }
</style>
<div id="wrap" class="container">
<div id="icon">
    <img src="{% static 'news/logo.ico' %}" alt="매추리_icon">
    <p>[매추리 아이콘]</p>
</div>
<hr style="margin-bottom: 70px;">
<div id="title">
<p><b>오간뉴란?</b> </p> 
<p>바쁜 현대인들을 위한 <strong> 주요 뉴스 요약</strong> 서비스</p>
</div>

<div id="vision">
<p><b>VISION</b></p>
<p>오간뉴는 “오늘의 간추린 뉴스”라는 뜻의 약어입니다. 오간뉴는 매일 아침 주요 뉴스를 AI가 요약해서 제공해주는 서비스입니다. 뉴스의 핵심을 파악하여 이를 위주로 기사를 간략하게 간추려 줌으로써, 바쁜 현대인들이 정보를 빠르고 효율적으로 습득할 수 있도록 지원하는 서비스가 되고자 합니다.</p>
<p>오간뉴는 미디어의 생산 및 유통과정에 AI가 주도적으로 참여하게 되어, AI솔루션(Transformer)을 활용하여 변형한 콘텐츠를, 이용자가 선택한 성향에 맞춘 초개인화 서비스와 함께 제공한다는 점에서 타 서비스와 차별점을 가집니다.</p>
<p>오간뉴는 AI를 통해 기사를 재생성함으로써 보다 객관적이고 직관적인 보도를 합니다. 또한 오간뉴에서는 개인의 성향에 따라 언론사, 섹션을 선택하여 취향대로 구독할 수 있습니다. 최신 이슈를 빠르고 간편하게 확인하고 싶은 분들은 모두 오간뉴를 주목해주세요!</p>
</div>

<div id="staff">
<p><b>STAFF</b></p>
<p><strong style="color: #808080;">매추리 (매일을 간추리다)</strong></p>
<p>
고은영
<br>
박기현
<br>
유재찬
<br>
조민우
<br>
하정수
</p>

</div>

</div>
{% endblock %}