<!-- ajax로 받아온 기사 출력 -->
{% if articles %}
  {% for article in articles %}
  <li>
    <div id="div{{article.id}}">
      <table width="100%">
        <tr style="text-align: center;">
          <td style="text-align: left;"><b style="font-size: 12px;"><a href="{{article.url}}" target='_blank'>[{{article.press.name}}, {{article.section.name}}]  {{article.headline}}</a></b></td>
          <td width="150px"><b style="text-align: right; margin-bottom: 0px; font-size: 0.8em;">{{article.created_date}}</b></td>
          <td style="text-align: right; margin-right: 0px; font-size: 0.8em; padding-right: 15px; width: 85px;"><b>{{article.writer}}</b></td>
          <td rowspan="2" width="50px">
            {% if request.user.is_authenticated %}
            <button class="btn btn-warning" onclick='sendID(this)' value="{{article.id}}">scrap</button>
            {% else %}
            <a href="/users/login/"><button class="btn btn-warning">scrap</button></a>
            {% endif %}
          </td>
        </tr>
        <tr>
          <td colspan="3"><a href="{{article.url}}" target='_blank'><div class="contentwrap">{{article.content}}</div></a></td>
        </tr>
      </table>
      <hr>
    </div>
  </li>
  {% endfor %}
{% else %}
  <script>
    var isEnd = true
  </script>
{% endif %}