{% extends 'base/base.html' %}

  {% block content %}
  <!-- 유저가 스크랩한 리스트 가져오기  -->
  <div id="chk">
    {% for scp in scrap %}
      <div id="scrap_test" style="display: none;">{{scp.article_id}}</div>
    {% endfor %}
  </div>
  
  <div id="content" class="container" style="min-height: 1080px;">
    <div class="row">

      <!-- 카테고리 선택창 -->
      <div id="button_col" class="col-1" style="padding: 0; width:32px; margin-left: 80px;">
        <button class="openbtn" onclick="openNav()" style="margin-top: 12px;"><i class="fa-solid fa-bars"></i></button>
        <div id="mySidepanel" class="sidepanel">
          <div class="closebbtn"><a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a></div>
          <div class="flex-shrink-0 p-3" style="width: 220px;">
            <a href="/" class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
              <span class="fs-5 fw-semibold">Category</span>
            </a>
            
            <form action="" method="post">
              {% csrf_token %}
              <div class="category">
                <ul class="list-unstyled ps-0">
                  <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                      data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true" type="button">
                      언론사 선택
                    </button>
                    <div class="collapse show" id="home-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><input type="checkbox" name="press" id="" value="1"
                            class="link-body-emphasis d-inline-flex text-decoration-none rounded">경향신문</li>
                        <li><input type="checkbox" name="press" id="" value="2"
                            class="link-body-emphasis d-inline-flex text-decoration-none rounded">국민일보</li>
                        <li><input type="checkbox" name="press" id="" value="3"
                            class="link-body-emphasis d-inline-flex text-decoration-none rounded">동아일보</li>
                        <li><input type="checkbox" name="press" id="" value="4"
                            class="link-body-emphasis d-inline-flex text-decoration-none rounded">문화일보</li>
                        <li><input type="checkbox" name="press" id="" value="5"
                            class="link-body-emphasis d-inline-flex text-decoration-none rounded">서울신문</li>
                        <li><input type="checkbox" name="press" id="" value="6"
                            class="link-body-emphasis d-inline-flex text-decoration-none rounded">세계일보</li>
                        <li><input type="checkbox" name="press" id="" value="7"
                          class="link-body-emphasis d-inline-flex text-decoration-none rounded">조선일보</li>
                        <li><input type="checkbox" name="press" id="" value="8"
                          class="link-body-emphasis d-inline-flex text-decoration-none rounded">중앙일보</li>
                        <li><input type="checkbox" name="press" id="" value="9"
                          class="link-body-emphasis d-inline-flex text-decoration-none rounded">한겨례</li>
                        <li><input type="checkbox" name="press" id="" value="10"
                          class="link-body-emphasis d-inline-flex text-decoration-none rounded">한국일보</li>
                      </ul>
                    </div>
                  </li>
                  <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                      data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false" type="button">
                      분야 선택
                    </button>
                    <div class="collapse" id="dashboard-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><input
                              type="checkbox" name="section" id="" value="1"
                              class="link-body-emphasis d-inline-flex text-decoration-none rounded">정치</li>
                        <li><input
                              type="checkbox" name="section" id="" value="2"
                              class="link-body-emphasis d-inline-flex text-decoration-none rounded">경제</li>
                        <li><input
                              type="checkbox" name="section" id="" value="3"
                              class="link-body-emphasis d-inline-flex text-decoration-none rounded">사회</li>
                        <li><input
                              type="checkbox" name="section" id="" value="4"
                              class="link-body-emphasis d-inline-flex text-decoration-none rounded">세계</li>
                        <li><input
                              type="checkbox" name="section" id="" value="5"
                              class="link-body-emphasis d-inline-flex text-decoration-none rounded">IT</li>

                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
              <input type="submit" class="btn btn-primary btn-sm" value="검색">
              <input type="button" class="btn btn-danger btn-sm" value="초기화" onclick="location.replace(location.href)">
            </form>
          </div>
        </div>
      </div>
      <!-- 요약 기사 출력 부분 -->
      <div id="summary_col" class="col-9">
        <div class="summary">
          <ul id="ul1" style="max-width: 85%;">
            {% for article in articles %}
            <li>
              <div id="div{{article.id}}">
                <table width="100%">
                  <tr style="text-align: center;">
                    <td style="text-align: left;"><b style="font-size: 0.8em;"><a href="{{article.url}}" target='_blank'>[{{article.press.name}}, {{article.section.name}}]  {{article.headline}}</a></b></td>
                    <td width="150px"><b style="margin-bottom: 0px; font-size: 0.8em;">{{article.created_date}}</b></td>
                    <td style="margin-right: 0px; font-size: 0.8em;"><b>{{article.writer}}</b></td>
                  </tr>
                  <tr>
                    <td colspan="2"><a href="{{article.url}}" target='_blank'>{{article.content}}</a></td>
                    <td width="50px">
                      {% if request.user.is_authenticated %}
                      <button class="btn btn-warning" onclick='sendID(this)' value="{{article.id}}">scrap</button>
                      {% else %}
                      <a href="/users/login/"><button class="btn btn-warning">scrap</button></a>
                      {% endif %}
                    </td>
                  </tr>
                </table>
                <hr>
              </div>
            </li>
            {% endfor %}
            <!-- ajax 응답 요청 기사 출력부 -->
            <div id="post_list_ajax">
              <!-- main_ajax.html -->
            </div>
            <input id="page" type="hidden" value="2">
            
            <div id="wrapper">
              <button id="load-more" onclick="click_load_more()">load more</button>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
    
  <script>
    var token = $('input[name="csrfmiddlewaretoken"]').prop('value');
    const loadmore= document.getElementById('load-more')
    var isEnd = false
    // 무한 스크롤로 구현
    // $(window).scroll(function(){
    //   var scrollHeight = $(window).scrollTop() + $(window).height();
    //   var documentHeight = $(document).height();
    //         if (!isEnd){
    //           loadmore.classList.add('disabled');
    //           loadmore.setAttribute('disabled', false)
    //           if (scrollHeight + 300 >= documentHeight){
    //             var press_list = "{{press_list|join:' '}}"
    //             var section_list = "{{section_list|join:' '}}"
    //             var page = $("#page").val();
    //             callMorePostAjax(page, press_list, section_list);
    //             $("#page").val(parseInt(page)+1);
    //           }
    //         }
    //     });

    // load more 버튼으로 구현
    function click_load_more(){
      if(!isEnd){
        var press_list = "{{press_list|join:' '}}"
        var section_list = "{{section_list|join:' '}}"
        var page = $("#page").val();
        callMorePostAjax(page, press_list, section_list);
        $("#page").val(parseInt(page)+1);
      }else{
        loadmore.innerText='No Data';
        loadmore.setAttribute('disabled', false);
      }
    }
    // 요약기사 더 요청(ajax)
    function callMorePostAjax(page, press_list, section_list) {
        $.ajax( {
        type : 'POST',
        url: "main_ajax/",
        data: {
        'page': page,
        'press':press_list,
        'section':section_list,
        'csrfmiddlewaretoken': token,
        },
        success: addMorePostAjax,
        dataType: 'html'
        });
    }
    // 요약 기사 출력
    function addMorePostAjax(data, textStatus, jqXHR) {
        $('#post_list_ajax').append(data);
        div2Resize();
        $('#ul1 li button').each(function (index, item){
        // ajax로 요약기사가 된 후에 arr를 통해 이미 스크랩한 버튼 비활성화
        if (item.value == arr[0]){
          arr.shift()
          item.disabled = true;
        }
      })
    }

    // 유저가 scrap버튼 클릭시 스크랩 후 비활성화 요청(ajax) 
    function sendID(id) {
    $.ajax({
      type: 'GET',
      url: 'scrap/insert/' + id.value,
      data: {

      },
      success: () => {
        id.disabled = true
      },
      error: (err) => {
        console.log(err)
      }
    });
  }

    // 스크랩 된 내용의 스크랩 버튼 비활성화
    arr = []

    $(document.querySelector('#chk')).ready(function(){
      $('#chk div').each(function (index, item) {
        arr.push(item.innerHTML);
        item.remove()
      });
      $('#ul1 li button').each(function (index, item){
        if (item.value == arr[0]){
          arr.shift()
          item.disabled = true;
        }
      })
    });

  </script>
  {% endblock %}