#content{
    margin-top: 15px;
    height: 550px;
    width: 95%;
    position : relative;
}

.main{
    height: 100%;
}

.category, .summary{
    margin-top: 2px;
    float: left;
    height: 100%;
}

.category{
    width: 140px;
    margin-left: 2%;
    border: 1px solid black ;
    border-radius: 10px;
    position : absolute;
}

.category ul{
    padding: 0%;
    margin-top: 7%;
    margin-left: 7%;
    align-tracks: center;
}

.category ul li input{
    text-align: left;
    margin-top: 10px;
    margin-left: 15px;
}

.summary{
    position: absolute;
    width: 88%;
    margin-left: 180px;
    margin-right: 2%;
    border: 1px solid black ;   
    border-radius: 10px;
}

.summary ul{
    padding:0 5%;
    margin-top: 3%;
    height: 550px;
}

.field{
    margin-top: 15px;
}

.summary ul li{
    margin-top: 15px;
}