<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./header.css">
    <link rel="stylesheet" href="./contents_main.css">
</head>
<body>
    <header>
        <div class="top">
            <div class="logo">
                <h2>오간뉴</h2>
            </div>
            <div class="gnb">
                <ul>
                    <li><a href="">로그인 / 회원가입</a></li>
                    <li><a href="">스크랩 / 북마크</a></li>
                </ul>
            </div>
        </div>
    </header>

    <div id="content">
        <div class="main">
            <div class="category">
                <ul>
                    <div class="media">
                    <li><h4>언론사 선택</h4></li>
                        <li><input type="checkbox" name="" id="">세계일보</li>
                        <li><input type="checkbox" name="" id="">한겨례</li>
                        <li><input type="checkbox" name="" id="">경향신문</li>
                        <li><input type="checkbox" name="" id="">중앙일보</li>
                        <li><input type="checkbox" name="" id="">조선일보</li>
                        <li><input type="checkbox" name="" id="">국민일보</li>
                    </div>
                    <div class="field">
                        <li><h4>분아별 선택</h4></li>
                        <li><input type="checkbox" name="" id="">IT/과학</li>
                        <li><input type="checkbox" name="" id="">사회</li>
                        <li><input type="checkbox" name="" id="">생활/문화</li>
                    </div>
                </ul>
            </div>

            

            <div class="summary">
                <ul>
                    <li>summary1 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita perspiciatis voluptates nesciunt, asperiores distinctio fugit magni facere quos cupiditate tempore quam, fuga quas vero alias accusantium, repellat adipisci at mollitia!</li>
                    <li>summary2 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur error accusantium quisquam minima facere dolorem, ex cupiditate quas. Iste, nobis! Perferendis laboriosam porro possimus unde quod molestias culpa enim deserunt.</li>
                    <li>summary3 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam illo, minus sequi iste nam exercitationem minima accusantium atque, voluptas facere saepe accusamus vel molestias dolor asperiores commodi nulla aut cumque?</li>
                    <li>summary4 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus, quo! Mollitia, tempora error. Harum incidunt modi distinctio necessitatibus hic nobis non pariatur voluptatem, quisquam sunt numquam voluptatum vero quam repudiandae?</li>
                    <li>summary5 Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, eum, autem voluptate praesentium molestiae aliquam soluta officiis labore a explicabo maiores tenetur vitae pariatur mollitia libero facilis cupiditate repellat dolorum?</li>
                    <li>summary6 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum ducimus reiciendis cumque laborum voluptate dolorum blanditiis praesentium illum exercitationem, similique fuga error aperiam ipsa voluptatem nostrum cupiditate quaerat beatae in?</li>
                    <li>summary7 Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat mollitia minima quasi quis. Necessitatibus quae consequuntur odit at, dolorem placeat fuga voluptatibus excepturi doloribus modi id accusamus minus enim sint.</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>